* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Sofia Sans Condensed", sans-serif !important;
}

nav {
    background: #090f13;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}
.logo-container:hover {
    transform: scale(1.01);
}

.logo-image {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

label.logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: "Sofia Sans Condensed", sans-serif !important;
}

.navitems {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.item {
    display: inline-block;
    margin: 0 5px;
}

.navlinks {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Sofia Sans Condensed", sans-serif !important;
    text-decoration: none; /* Ensure no underline */
}

a.active, a:hover {
    color: #1b9bff;
    transition: .5s;
    font-family: "Sofia Sans Condensed", sans-serif !important;
    text-decoration: none; /* Ensure no underline */
}

.checkbtn {
    font-size: 30px;
    color: white;
    display: none;
    cursor: pointer;
    font-family: "Sofia Sans Condensed", sans-serif !important;
}

#check {
    display: none;
}

.closebtn-label {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        font-family: "Sofia Sans Condensed", sans-serif !important;
    }
    nav ul li a {
        font-size: 16px;
        font-family: "Sofia Sans Condensed", sans-serif !important;
        text-decoration: none; /* Ensure no underline */
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .navitems {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all .5s;
    }
    .navitems .item {
        margin: 20px 0;
    }
    #check:checked ~ .navitems {
        left: 0;
    }
    .closebtn-label {
        display: block;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-family: "Sofia Sans Condensed", sans-serif !important;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-family: "Sofia Sans Condensed", sans-serif !important;
}

.footer a:hover {
    text-decoration: underline;
    font-family: "Sofia Sans Condensed", sans-serif !important;
}

.footer .social-icons {
    margin-top: 10px;
    font-family: "Sofia Sans Condensed", sans-serif !important;
}

.footer .social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

@media (max-width: 600px) {
    .footer {
        text-align: center;
        padding: 20px 10px; /* Adjusted padding for smaller screens */
        font-family: "Sofia Sans Condensed", sans-serif !important;
    }

    .footer .social-icons img {
        width: 30px;
        height: 30px;
    }
}
